.portlet-title {
    background-color: #1BA39C;
    padding-right: 15px;
}
.portlet.box > .portlet-title > .caption {
    padding: 11px 9px 9px 11px;
}
.caption {
    font-size: 16px !important;
    font-weight: bold;
    color:#fff;
}
.portlet.box > .portlet-body {
    background-color: #fff;
    padding: 10px;
}

.portlet > .portlet-body {
    border: 0 !important;
}

.red {
    color: red;
}